body
{background-color: aqua;
    margin: 0 ;
    padding: 0;
   /* background-image: url('image.jpeg');*/
   /* background-repeat: repeat-y;*/
   /* background-position: top right 40px;*/
    background: url('image.png') no-repeat top left;
    /* url('image.jpeg') no-repeat top right #999;   */
    /* background-size: cover; */
     background-size: cover;
   
}

html,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 0px 10px #000;
    /* display: inline-block; */
    clear:left;
}
#para{
    color: chartreuse;
}
img{
    float: left;
    margin-right: 20px;
    border: 10px solid #999;
    border-radius: 50%;
}